
#canvas {
    position: absolute;
    /*
    height: 100%;
    width: 100%;*/
    min-width: 3000vw;
    min-height: 3000vh;
    background-color: white;
}

.draw2d_shape_basic_Label{
    height: 20px !important;
    width: 80px !important;

}

.design {
    border-style: solid;
    background-color: white;
}

.functions {
    border-style: solid;
    border-color: black;
}

.rst__rowTitle {
    color: black ;
}

.collapse {
    margin-right: 10px;
    margin-left: 5px;
}

.rst__rowSearchMatch {
    outline: solid 3px #ffffff;
}

.rst__rowSearchFocus {
    outline: solid 3px #fc2121;
}

.rst__rowTitleWithSubtitle {
    font-size: 90%;
    overflow: hidden;
    z-index: 0; 
    display: block;
    height: 60vh;
    width: 60vw;
    
}

.container {
    position: relative; 
    width: 100%;
    height: 90vh; 
    overflow: scroll; 
    background-color: white;
    margin: 0px; 
    padding: 0px; 
    border: none;
}

#container div svg{
    top: 0;
    left: 0;
}

.functions {
    border-style: solid;
    border-color: black;
}

.grid{
    padding: 0;
    overflow: hidden;
    display: flex;   
}
.no-pc-fallback{
    display: none;
}

.login-container h1,
.register-container h1{
    margin-top: 2em;
}
.login-container .user-register-info-component,
.register-container .user-register-info-component{
    margin-top: 10vh;
}


@media only screen and (max-width: 850px) {
    .left-bar,
    .right-bar,
    .file-area-category-list,
    .file-area-content,
    .file-area-details{
        display: none !important;
    }
    .grid {
        position: relative;
        overflow: visible;
        text-align: center;
    }
    .no-pc-fallback
    {
        border-radius: 1em;
        display: inline-block;
        padding: 1em 2em;
        background: #bfdbf7;
        
        text-align: center;
        font-size: 1.5em;
        margin: 2em auto;
        z-index: 999;
    }
    .no-pc-fallback svg{
        font-size: 4em;
    }
}

.left-bar{
    padding: 1em;
    margin: 0;
    width: auto;
    display: block;
    text-align: right;
}
.right-bar{
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    border-left: solid grey 1px;
}
.right-bar button{
    margin: 0 .5em;
    padding: 0.5em;
    background: #043d52;
    color: #fff;
    border: none;
    /*height: 4vh;*/
    width: 8vw;
    font-size: 1em;
}

/* file-area */

.file-area-grid{
    padding: 0;
    overflow: hidden;
    display: flex;
}

.file-area-category-list{
    padding: 1em;
    margin: 0;
    width: auto;
    display: block;
    border-right: 1px solid #BBB;
}

.file-area-category-list button, 
.file-area-category-list input[type="button"]{
    margin: .5em auto;
    padding: 1.25em;
    width: 100%;
    
    background: #043d52;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border: none;
}


.file-area-content{
    text-align: left;
    padding: 1em;
}

.file-area-content button{
    margin: 0 .5em;
    padding: 1.25em;
    height: 3.928em;
    
    background: #043d52;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border: none;
}
.pipelines, .pipelines-nav,
.files, .files-nav{
    margin:0;
    padding: 0;
}
.pipelines,
.files{
    padding: .5em;
}
.pipelines-nav .container-fluid,
.files-nav .container-fluid{
    margin:0;
    padding: 0;
}
.pipelines-nav:first-child, 
.pipelines-nav div, 
.pipelines-nav div:first-child button,
.files-nav:first-child, 
.files-nav div, 
.files-nav div:first-child button{
    margin-left: 0;
}
.pipelines div:first-child, 
.pipelines-nav:first-child, 
.pipelines-nav div:first-child,
.files div:first-child, 
.files-nav:first-child, 
.files-nav div:first-child{
    padding-left:auto;
    /*padding-right:0;*/
}

.pipelines-nav .FilterTextGroupSearch{
    margin-right: 0;
    padding: 0;
    text-align: right;
}

.FilterTextGroupSearch > button{
    margin-right: 0;
}
.pipelines-content, 
.files-content{
    border: 1px solid #043d52;
    background: #022b3a;
    padding: 1em;
    padding-bottom: 1;
}
.pipelines-content > div,
.files-content > div
{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    min-width: 200px;
}

.pipelines-content .file-item,
.files-content .file-item
{
    display: block;
    padding: 1em;
    padding-bottom: 3em;
    background: #e1e5f2;
    border-radius: 5px;
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.files-content .file-item p{
    overflow: hidden;
    max-width: 20vw;
}
.pipelines-content .file-item svg,
.files-content .file-item svg{
    font-size: 4em;
    margin: 0 auto;
}
.pipelines-content .file-item p{
    font-size: 1.25em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 10vw;
    overflow-x: hidden;
}

.pipelines-content::-webkit-scrollbar { 
    display: none; 
} 

.file-area-details{
    padding: 1em;
    border-left: 1px solid #BBB;
    text-align: left;
    font-size: 1.25em;
}

.file-area-details p{
    overflow: hidden;
    max-width: 20vw;
}

.file-area-details button{
    font-size: .95em;
    padding: 1em;    
    background: #043d52;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border: none;
}
#search-file{
    width: 60%;
    margin-bottom: 2em;
}

.pipelines-modal{
    height: auto;
    padding: 2em 2em;
    text-align: left;
}
.pipelines-modal .modal-button,
.pipelines-modal .modal-start-button, 
.pipelines-modal input[type="button"]{
    font-size: .95em;
    padding: 1em;    
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border: none;
    width: auto;
    margin: .5em .5em 0 0;
}
.pipelines-modal .modal-start-button{
    display: block;
    margin: 1em auto;
}
.pipelines-modal .modal-start-button a, 
.pipelines-modal .modal-button a{
    color: #fff;
} 

.pipelines-modal input[type="file"]{
    margin: 1em 0;
    appearance: none;
}

.pipelines-modal .close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    width: auto;
    background: none;
    color: #022b3a;
}

.pipelines-modal .close-button svg{
    font-size: 2em;
}

.pipeline-name{
    max-width: 25vw;
    position: absolute;
    left: 2vw;
    top: 2.5em;
    overflow: hidden;
    margin: 0px;
    display: inline;
    text-align: left;
}