/* color palette #022b3a #1f7a8c #bfdbf7 #e1e5f2 #ffffff */


#root{
    min-height: 100%;
    position: relative;
}

.header{
    position: fixed;
    top: 0px;
}

.app-container{
    min-height: 100%;
    position: relative;
}

.app-header{
    background-color:#fff;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.app-header h1{
    margin: 0;
    padding: 2vw;
    display: none;
}

.app-body {
    background-color: #fff;
    color: #022b3a;
    margin: 0;
    text-align: center;
    padding-bottom: 7em;
    min-height: 108vh;
}

/* Header Options */
.Navbar {
    background-color: #022b3a;
    display: flex;
    padding: 0px 2vw 0px 2vw;
    color: #fff;
}

.Navbar__Items {
    display:flex;
}

.Navbar__Link a, .Navbar__Link div, .Navbar__Link span{
    margin: 0 .5em;
    padding: 1.25em;
    height: 3.928em;
    
    background: #043d52;
    color: #fff;
    /*box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;*/
    display: inline-block;
    vertical-align: top;
    border: none;
}
.Navbar__Link a{
    color: #fff;
}
.Navbar__Link p{
    margin: 0 .5em;
}
.Navbar__Link p, .Navbar__Link svg{
    display: inline-block;
    vertical-align: middle
}
.Navbar__Link:first-child a{
    margin-left: 0;
}
.Navbar__Items--right .Navbar__Link:last-child{
    margin-right: 0;
}

.Navbar__Items--right {
    margin-left:auto;
}

.logout:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .Navbar{
        display: block;
        padding: 0;
    }
    .Navbar__Items{
        display: block;
        width: 100%;
        margin-left: 0;
    }
    .Navbar__Link{
        border-bottom: solid 1px #022b3a;
    }
    .Navbar__Link a{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .Navbar__Items--right div {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 1360px) {

}
/* Footer */

#footer {
	padding: 5rem 0 5rem 0;
    background: #022b3a !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7em;
}

#footer .copyright {
	color: #bbb;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
	padding: 0;
	text-align: center;
}

@media screen and (max-width: 736px) {

	#footer {
		padding: 3rem 0 1rem 0;
	}

}

/* Wrapper */

.wrapper {
	padding: 5rem 0 5rem 0;
	position: relative;
	margin: 0;
}

.wrapper>.inner {
	margin: 0 auto;
	width: 100%;
}

.MuiTypography-root{
    font-family: 'Roboto' !important;
}
.MuiPaper-root{
    width: auto !important;
}
.MuiButtonBase-root{
    border-bottom: solid 1px #ddd !important;
    padding: 1em 0 !important;
}
.MuiButtonBase-root:last-child{
    border-bottom: none !important;
}
.MuiButtonBase-root p{
    margin: 0;
    margin-right: 1em;
    font-size: 1.25em;
    font-family: 'Roboto';
}
.MuiMenu-list{
    padding: 0 !important;
}
.MuiTypography-body1{
    font-size: 1em !important;
}
.MuiListItemIcon-root{
    width: auto !important;
    padding: 1em;
}
.MuiButtonBase-root .MuiSvgIcon-root{
    margin-right: .5em;
}
.list-item-icon svg{
    margin: .5em !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-track {
    background: #022b3a;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #1f7a8c;
    border-radius: 10px;
}

h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top: auto;
}

.button-filters {
    position: relative;
    left: 5.5vw;
}

.button-filters button {
    position: relative;
}

.orderBy-filter {
    margin: 1vh 5vw 1vh 5vw;
}

.sortedBy-text {
    margin: 2vw 0vw 0vw -0.8vw;
}

.FilterButtonGroupSearch {
    left: 4.6vw;
    position: relative;
}

.empty-imgs {
    position: relative;
    left: 5.3vw;
}

.file-input {
    position: relative;
    left: 4.5vw;
}

.imgs-container {
    height: 35vh;
    margin: 2vh 3vw 1vh 3vw !important;
    padding-left: 1vw !important;
    padding-top: 1vh;
    padding-bottom: 1vh;
    overflow: scroll;
    border-style: solid;
}

.img-buttons {
    float: left;
    display: inline;
    width: 14vw;
}

.img-buttons button{
    width: 4vw !important;
}

.input-file {
    position: relative;
    left: 10vw;
}

.user-actions{
    margin-bottom: 1vh;
}

.send-img-button {
    width: 12vw !important;
}

.footer-modal {
    padding-left: 8px;
    width: 10;
    height: 5vh !important;
}

.search-bar {
    margin-bottom: -3vh !important;
}