.team-member{   
    padding: 1em;
    margin-right: 1em;
    background: #e1e5f2;
    border-radius: 5px;
    width: 20vw;
    text-align: center;
    vertical-align: middle;
}

.team-title{
    margin-top: 0.5em !important;
}

.team-member a{   
    font-size: 0.9em;
}

.team-member img {
	width: 150px;
	height: 150px;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 50%;
    margin: 0 auto;
    padding: 0.5em;
}

.team-member img.no-circle {
	border-radius: 0
}


.team-member:last-child{   
    margin-right: 0;
}
.team-container{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(2, 43, 58, 0.1) inset;
    border-radius: 10px;
    max-width: 75vw;
    min-width: 50vw;
    padding-top: 3em;
    
}

.team-member-container{
    display: flex;
    padding: 2em;
    justify-content: space-between;
    margin: 2em auto;
}

.team-information-component{
    margin: 4em auto;
}

@media only screen and (max-width: 1600px) {
    .team-member-container{
        display: block;
        width: 100%;
    }
    .team-member{   
        display: inline-block;
        margin: 1em;
    }
    .team-member:last-child{   
        margin: 1em;
    }
}

@media only screen and (max-width: 1360px) {
    .team-member-container{
        display: block;
        width: 100%;
    }
    .team-member{   
        margin: 0 4em 1em 4em;
    }
    .team-member:last-child{   
        margin: 0 4em 1em 4em;
    }
}
@media only screen and (max-width: 850px) {
    .team-member{   
        width: 80vw;
        margin: 1em auto;
    }
    .team-member:last-child{   
        width: 80vw;
        margin: 1em auto;
    }
}



