.home-component{
    margin-top: 2vw;
    vertical-align: top;
    display: block;
    /*background: #eee;*/
    border-radius: 2px 0 0 2px;
    padding: 2em 0;
    margin-bottom: 5em;
    
    max-width: 75vw;
    margin: 3em auto;
}

.home-title{
    margin: 3vw !important;
}

.home-component h2{
    margin-top: 3em;
}
.home-information-component{
    color: #1f2d3d;
    text-align: center;
    font-size: 1.35em;
    margin-bottom: 2em;
}

.home-information-component p{
    
    max-width: 70%;
    margin: 0;
    display: inline-block;   
}

.home-information-component h1{
    font-weight: 900;
    font-size: 3.5em;
}

@media only screen and (max-width: 850px) {
    .home-component{
        margin: 1em auto;
        max-width: 100%;
    }
  }