/*.user-register-info-component{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(2, 43, 58, 0.1) inset;
    padding: 3em 1em;
    max-width: 20vw;
    min-width: 27em;
    display: inline-block;
    text-align: center;
    margin: 2em auto;
    min-height: 40em;
    max-height: 30vw;
}*/

.user-register-info-component {
	margin-left: auto;
	margin-right: auto;
}

.user-register-info-component.\31 25\25 {
	width: 100%;
	max-width: 100rem;
	min-width: 80rem;
}

.user-register-info-component.\37 5\25 {
	width: 60rem;
}

.user-register-info-component.\35 0\25 {
	width: 40rem;
}

.user-register-info-component.\32 5\25 {
	width: 20rem;
}

.user-register-info-component {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(2, 43, 58, 0.1) inset;
    width: 50rem;
    display: inline-block;
    padding: 3em 1em;
    margin: 2em auto;
}


.user-register-info-component input[type="text"], 
.user-register-info-component input[type="password"], 
.user-register-info-component input[type="email"]{
    margin-bottom: 1vw;
    text-align: center;
}

@media screen and (max-width: 1680px) {

	.user-register-info-component.\31 25\25 {
		width: 100%;
		max-width: 100rem;
		min-width: 80rem;
	}

	.user-register-info-component.\37 5\25 {
		width: 60rem;
	}

	.user-register-info-component.\35 0\25 {
		width: 40rem;
	}

	.user-register-info-component.\32 5\25 {
		width: 20rem;
	}

	.user-register-info-component {
		width: 50rem;
	}

}

@media screen and (max-width: 1280px) {

	.user-register-info-component.\31 25\25 {
		width: 100%;
		max-width: 81.25rem;
		min-width: 65rem;
	}

	.user-register-info-component.\37 5\25 {
		width: 48.75rem;
	}

	.user-register-info-component.\35 0\25 {
		width: 32.5rem;
	}

	.user-register-info-component.\32 5\25 {
		width: 16.25rem;
	}

	.user-register-info-component {
		width: 65rem;
	}

}

@media screen and (max-width: 980px) {

	.user-register-info-component.\31 25\25 {
		width: 100%;
		max-width: 112.5%;
		min-width: 90%;
	}

	.user-register-info-component.\37 5\25 {
		width: 67.5%;
	}

	.user-register-info-component.\35 0\25 {
		width: 45%;
	}

	.user-register-info-component.\32 5\25 {
		width: 22.5%;
	}

	.user-register-info-component {
		width: 90%;
	}

}

@media screen and (max-width: 736px) {

	.user-register-info-component.\31 25\25 {
		width: 100%;
		max-width: 112.5%;
		min-width: 90%;
	}

	.user-register-info-component.\37 5\25 {
		width: 67.5%;
	}

	.user-register-info-component.\35 0\25 {
		width: 45%;
	}

	.user-register-info-component.\32 5\25 {
		width: 22.5%;
	}

	.user-register-info-component {
		width: 90% !important;
	}

}

@media screen and (max-width: 480px) {

	.user-register-info-component.\31 25\25 {
		width: 100%;
		max-width: 112.5%;
		min-width: 90%;
	}

	.user-register-info-component.\37 5\25 {
		width: 67.5%;
	}

	.user-register-info-component.\35 0\25 {
		width: 45%;
	}

	.user-register-info-component.\32 5\25 {
		width: 22.5%;
	}

	.user-register-info-component {
		width: 90% !important;
	}

}

.user-register-info{
    border-radius: 2px;
    padding: 1em;
    text-align: center;
    margin: 0 auto;   
    
}
.user-register-info-component button{
    margin: 2em 0;
    padding: .5em 1.25em;
    border-radius: 2px;
    border: none;
    background: #022b3a;
    color: #fff;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.user-register-info a{
    text-decoration: none;
    outline: none;
    color: #022b3a;
}
    
.center-text{
    text-align: center;
}

input[type="text"], input[type="password"], input[type="email"]{
    margin-bottom: .5em;
    padding: .2em;
    border: none;
    border-radius: 2px;
    width: 20em;
    color: #1f2d3d;
    box-shadow: 0 1px 1px .5px #1f2d3d42 inset;
    background: #fff;
    font-size: 1em;
}