.my-tree-wrapper{
    height: 70vh;
    will-change: transform, box-shadow, z-index, width;
    text-align: center;
    padding: 1em 0;
    margin: 5px;
}
.left-bar-actions{
    width: 100%;
    overflow: hidden;
    margin: 1em auto;
    text-align: left;
}
.left-bar-actions label{
    padding: 0 1em;
    width: 20%;
}
.left-bar-actions input[type="text"]{
    width: 80%;
}
.left-bar-actions button{
    position: relative;
    left: 5.6vw;
    margin: 0.5em;
    padding: 0.5em;
    background: #043d52;
    color: #fff;
    /*box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;*/
    border: none;
    width: 10vw;
    font-size: 1em;
}
.toggle-bar-button{
    margin: 0 auto;
    padding: .25em;
    
    background: #043d52;
    color: #fff;
    /*box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;*/
    display: inline-block;
    vertical-align: top;
    border: none;
    line-height: 0;
}
.toggle-bar-button svg{
    font-size: 2.2em;
}
.tree-item-info{
    padding: 0px;
    color: white;
    border: 0px;
    display: block;
    width: 1.6em;
    height: 1.6em;
    background: none;
}
.tree-item-info svg{
    fill: #1f7a8c;
}

.ReactVirtualized__Grid{
    padding: 0px;
}
.my-tree-wrapper .rst__tree{
    height: 90% !important;
}

.tree{/*
    width: 150%;
    height: 150%;
    overflow-x: scroll;
    */
}

/*
.my-tree-wrapper{
    min-width: 50vw;
    overflow-y: hidden;
    overflow-x: scroll;
}
*/