.title{
    font-size: 3vh;
}

/*
#canvas {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 3000vw;
    min-height: 3000vh;
    background-color: white;
}
*/

.design {
    border-style: solid;
    background-color: white;
}

.container {
    position: relative; 
    height: 65vh;
    width: 100%; 
    overflow: scroll; 
    background-color: white;
    margin: 0px; 
    padding: 0px; 
}

.design-area{
    width: 100%;
}
