/*@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora|Open+Sans|Open+Sans+Condensed:300|Playfair+Display|Comfortaa&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: 'Comfortaa';*/
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #022b3a;  
}
* {
  scrollbar-width: auto;
  scrollbar-color: #1f7a8c #022b3a;
}