.informative-video-component{
    vertical-align: top;
    display: inline-block;
    padding: 0;
}
.informative-video-component h2{
    color: #022b3a;
    
}
.informative-video-component video{
    margin: 2em ;
    width: 50vw;
    border-radius: 0 2px 2px 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media only screen and (max-width: 1360px) {
    .informative-video-component{
        width: 100%;
    }
    .informative-video-component video{
        width: 100%;
        margin: 2em 0;
    }
}