.itemRow {
    border-bottom: 2px solid #043d52;
    margin-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-right: 0.5vw;
    overflow-x: hidden;
}